body {
    background: url('../images/TriviaBackground.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#questionHeader, #questionArea {
    border-bottom: 2px solid whitesmoke;
    color: whitesmoke;
    background-color: #267295;
}

#questionHeader {
    margin-top: 50px;
}

#questionArea {
    text-align: center;
    width: 70%;
    margin: 20px auto;
    color: rgb(59, 6, 16);
    font-weight: bolder;
}

#details {
    text-align: left;
    width: 65%;
    margin: 20px auto;
}

#questionHolder, #optionHolder {
    margin-bottom: 20px auto;
}

#displayTime {
    margin-top: 20px
}

h2 {
    padding: 10px;
}

input {
    padding: 20px;
}

button {
    padding: 25px;
}